In [1]:
import pandas as pd

In [2]:
with open('./girl.name.dict.txt') as f:
    name_dict = f.read().splitlines()

In [11]:
data = pd.read_csv('./data/user_ids.with_name.txt', sep=',', names=('uid', 'name', 'gender'))
data.head()

               uid                name  gender
0  100000039738608         Nguyễn Trâm  female
1  100000030623921  Quần Đùi Thủng Đít    male
2  100000118849954           Jack Lion    male
3  100000030552273         Nguyễn Linh    male
4  100000204131248           Mạnh Long    male

In [20]:
def name2gender(name):
    if any(s in name for s in name_dict):
        return 'female'
    return 'male'

In [34]:
data['gender_pred'] = data.name.apply(lambda name: name2gender(name))
data['success'] = (data.gender.str == data.gender_pred.str)

In [35]:
len(data)

4108

In [36]:
data.head()

               uid                name  gender gender_pred success
0  100000039738608         Nguyễn Trâm  female      female   False
1  100000030623921  Quần Đùi Thủng Đít    male        male   False
2  100000118849954           Jack Lion    male        male   False
3  100000030552273         Nguyễn Linh    male      female   False
4  100000204131248           Mạnh Long    male        male   False

In [33]:
'female' == 'female'

True